body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0;
}

body a{
    color: #fff;
}

header {
    background-color: #4d5767;
    padding: 20px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
 }
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    float: left;
}

.logo img {
    max-width: 100px;
    height: auto;
}

h1 {
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-menu {
    width: 20%;
}

.main {
    width: 80%;
    text-align: center;
}


.left-menu ul {
    list-style: none;
    padding: 0;
}

.left-menu li {
    margin-bottom: 10px;
}

.left-menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.left-menu a:hover {
    color: #ff9900;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
}

@media only screen and (max-width:720px){
    header{
        width: 100%;
        height: auto;
    }
    body{
        width: 100%;
        height: auto;
    }

    h1{
        width: 100%;
        height: auto;
    }
    .container{
        width: 100%;
        height: auto;
        display: flex;
    }
    .left-menu{
        width: 40%;
        height: auto;
        display: flex;
    }
    .main{
        width: 90%;
        height: auto;
        display: flex;
    }
}